*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 300px 300px 300px 300px;

}
.navbar{
    z-index: 99;
}
.sliderFade{
    animation: fade 0.5s ease;
}

.sliderThumb, .sliderMainImage{
    cursor: pointer;
}
@keyframs fade{
    0%{opacity: 0;}
    100% {opacity: 1;}
}

header nav img {
    width: 190px;
}


#means button {
    border: 0;
    height: 50px;
    width: 50px;
    color: gray;
    transition: 300ms ease-in-out;
}

#means button:hover {
    color: white;
    background-color: rgba(0, 0, 0, .4);
}

#means button i {
    position: absolute;
    left: 0;
    top: 0;
}

#means button i:hover {
    color: white;
    cursor: pointer;
}

#means a {
    text-decoration: none;
    color: rgba(0, 0, 0, .2);
}

#means i {
    font-size: 30px;
    margin: 10px 10px;
}

#means i:hover {
    color: rgba(0, 0, 0, .4);
    cursor: pointer;
}




#back-to-top-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    color: #808080;
    cursor: pointer;
    outline: none;
    border: 3px solid white;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color,color ;
}
#back-to-top-btn:hover, #back-to-top-btn:focus{
    background-color: #808080;
    color: lightgray;
}

.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}


@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

@keyframes btnExit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);

    }
}

footer {
    background-color: #121A2F
    ;
    border-top: 1px solid LightGrey;
    padding: 80px 0px;
    font-style: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    
}

footer h5{
    font-weight: bold;
}

.credit-card {
    object-position: center;
    width: 106%;

}


.marquee {

    width: 100%;
    background-color: rgb(187, 187, 187);
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 20px;
   
}

.marquee span {
  
    font-size: 1.5rem;
    font-family: 'Noto Sans TC', sans-serif;
    animation: animate 22s linear infinite;
    padding-left: 100%;
    display: inline-block;
    transition: ease-in-out;
}
.marquee span:hover{
    animation-play-state: paused;
}
@keyframes animate {
    100% {
        transform: translate(-100%, 0);
    }
}
/* section CSS */
#goodsBox{
    padding: 5% 10%;
}
#goodsInitBtnFormBox{
    display: flex;
}
#goodsFormTitleBox{
    display: flex;
    font-size: 30px;
    padding: 0% 0% 0% 10%;
    border-bottom: 1px solid lightgray;
    width: 80%;
    margin-right: 5%;
    margin-left: 5%;
}
#goodsInitBtnFormBox button{
    width: 10%;
    font-size: 21px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 15px;
    outline: none;
    margin-bottom: 50px;
}
#goodsInitBtnFormBox button:hover{
    background-color: gray;
    color: white;
    font-weight: bold;
}
#goodsFormTitleBox p{
    margin-right: 5%;
}
#goodsFormTitleBox #goodsImgFileNameText{
    margin-right: 17%;
}
#goodsFormBox{
    padding: 30px 0px 10px 120px;
}
#goodsFormRowBox{
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}
#goodsFormRowBox p{
    width: 5%;
    font-size: 25px;
    margin-right: 3%;
}
#goodsFormRowBox input{
    text-align: center;
    width: 8%;

}
#goodsFormRowBox button{
    background-color: white;
}
#goodsFormRowBox button:hover{
    background-color: gray;
    color: white;
    font-weight: bold;
}

/* section CSS */
